# Ignore local configuration files
config.ini
CODE_ANALYSIS.md
DEV_LOG.md
.local_analysis.md

# Keep the template
# config.ini.default
test_benign/
test_error/
test_input/
test_quarantine/
test_reports/
venv/

# Ignore log files
logs/
*.log
